<!-- <div class="container extra_container">
    <div class="row">
        <div class="md-col-12">Extensive Survey</div>
    </div>
    <form [formGroup]="angForm" (ngSubmit)="submitSurvey(angForm)" autocomplete="off">
        <div class="row">
            <div class="col-md-6">Enter the ID of your Server for Today: </div>
            <div class="col-md-6"><input type="text" class="form-control" name="empId" formControlName="empId"></div>
        </div>

        <h2>Service</h2>
        <div *ngFor="let serviceQ of ServiceQs" [value]="serviceQ.id">
            <div>{{serviceQ.question}}</div>
            <div class="form-check form-check-inline">
                <input *ngFor="let rating of Ratings"
                [(ngModel)]="servRating" 
                [value]="rating.id"
                class="form-check-input" 
                type="radio" 
                name="servRating"
                formControlName="servRating">
                <label class="form-check-label">{{rating.category}}</label>
            </div>
        </div>

        
        
        <h2>Environment</h2>
        <div *ngFor="let environmentQ of EnvironmentQs" [value]="environmentQ.id">
            <div>{{environmentQ.question}}</div>
            <div class="form-check form-check-inline">
                <input *ngFor="let rating of Ratings"
                [(ngModel)]="envRating" 
                [value]="rating.id"
                class="form-check-input" 
                type="radio" 
                name="envRating"
                formControlName="envRating">
                <label class="form-check-label">{{rating.category}}</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">Please select the dish you would like to review:</div>
            <div class="col-md-6"><input type="text" class="form-control" name="empId" formControlName="empId"></div>
        </div>

        <h2>Dish</h2>
        <div *ngFor="let dishQ of DishQs" [value]="dishQ.id">
            <div>{{dishQ.question}}</div>
            <div class="form-check form-check-inline">
                <input *ngFor="let rating of Ratings"
                [(ngModel)]="dishRating" 
                [value]="rating.id"
                class="form-check-input" 
                type="radio" 
                name="dishRating"
                formControlName="dishRating">
                <label class="form-check-label">{{rating.category}}</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12"><input type="submit" class="btn btn-warning" name="submit"></div>
        </div>

    </form>
</div> -->
