<html>
    
    <br><h1 id="tittle">Analytics</h1> <br> <br> <br>

    <!-- Service Ratings Button to show analytics -->
    <button (click)="clickServiceR()" type="button">Service Ratings</button> 
        <div *ngIf="ServiceR"  > 
            
                <canvas
                baseChart
                [data]="servicedata"
                [type]="'bar'"
                [options]="chartOptions"
              >
              </canvas>
            
        </div>


    <!-- Enviroment Ratings button to show analytics -->
    <button (click)="clickEnviromentR()" type="button">Enviroment Ratings</button> 
        <div *ngIf="EnviromentR">
            <canvas
                baseChart
                [data]="envdata"
                [type]="'bar'"
                [options]="Options"
              >
              </canvas>
        </div>

    

    <!-- Food quality Ratings button to show analytics  -->
    <button (click)="clickFoodR()" type="button">Food Quality Ratings</button>
        <div *ngIf="FoodR">
            <canvas
            baseChart
            [data]="dishdata"
            [type]="'bar'"
            [options]="baropt"
          >
          </canvas>
        </div> 

    <!-- Zip code group button to show analytics -->
    <button (click)="clickZipcodeE()" type="button">Zip Code Report</button>
        <div *ngIf="zipcode">
            <!-- <canvas
            baseChart
            [data]="zipcodedata"
            [type]="'bar'"
            [options]="zipopt"
          >
          </canvas> -->
          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th>Zip Code</th>
                <th>Total Count</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let zip of zipcodecount">
                <td>{{zip.zipcode}}</td>
                <td>{{zip.total}}</td>
              </tr>
            </tbody>
          </table>
        </div>

    <!-- Short survey review  -->
    <button (click)="clickShortS()" type="button">Survey Report</button>
    <div *ngIf="survey">
        <!-- <canvas
        baseChart
        [data]="shortReview"
        [type]="'bar'"
        [options]="shortRopt"
      >
      </canvas> -->

    </div>

</html> 
