<html>
  <div>
  <mat-toolbar color="primary">
    <mat-icon id="tittle">analytics </mat-icon>
    <span id= "tittle" style="margin-left: 5px;"> Analytics</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
  </div> <br>

    <!-- Service Ratings Button to show analytics -->
    <button mat-raised-button (click)="clickServiceR()" type="button">Service Ratings</button> 
        <div *ngIf="ServiceR"  > 
            
          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th>Service Rating</th>
                <th>Total Count</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let service of service_rating">
                <td>{{service.service_rating}}</td>
                <td>{{service.total_count}}</td>
              </tr>
            </tbody>
          </table>

            
        </div>


    <!-- Enviroment Ratings button to show analytics -->
    <button mat-raised-button (click)="clickEnvironmentR()" type="button">Environment Ratings</button> 
        <div *ngIf="EnvironmentR">
          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th>Environment Rating</th>
                <th>Total Count</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let env of env_rating">
                <td>{{env.environment_rating}}</td>
                <td>{{env.total_count}}</td>
              </tr>
            </tbody>
          </table>

        </div>

    

    <!-- Food quality Ratings button to show analytics  -->
    <button mat-raised-button (click)="clickFoodR()" type="button">Food Quality Ratings</button>
        <div *ngIf="FoodR">

          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th>Food Quality Rating</th>
                <th>Total Count</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let food of food_rating">
                <td>{{food.food_rating}}</td>
                <td>{{food.total_count}}</td>
              </tr>
            </tbody>
          </table>

        </div> 



    <!-- Overall rating review -->
    <button mat-raised-button  (click)="clickOverallR()" type="button">Overall Quality Rating</button>
    <div *ngIf="overallR">

      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th>Overall Quality Rating</th>
            <th>Total Count</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let overall of over_all_serv_rating">
            <td>{{overall.over_all_rating}}</td>
            <td>{{overall.total_count}}</td>
          </tr>
        </tbody>
      </table>
    </div>

        <!-- Zip code group button to show analytics -->
        <button mat-raised-button (click)="clickZipcodeE()" type="button">Zip Code Report</button>
        <div *ngIf="zipcodebutton">

          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th>Zip Code</th>
                <th>Total Count</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let zip of zipcode">
                <td>{{zip.zip_code}}</td>
                <td>{{zip.total_count}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <button mat-raised-button (click)="clickWordcloud()" type="button">Word Cloud</button>
        <div *ngIf="showWordcloud">
          <img src="data:image/jpeg;base64,{{image}}"/>
        </div>

</html> 