h1 {
  font-size: 50px;
  text-align: center;
}

#tittle {
  font-size: 25px;
}

button{
  margin: auto;
  margin-bottom: 75px;
  padding: 15px 15px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px #999;
  display: flex;
  display: grid;
  
}

div{
  text-align: center;
  width: 750px;
  height: 450px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;

  }

table{
width: 600px;
margin-left: auto;
margin-right: auto;
margin-bottom: auto;
}
