<div class="d-flex justify-content-between">
    <h1>Employee Info</h1>
    <button class="btn btn-primary" style="margin: 6px;" (click)="openAdd()">Add Employee</button>
  </div>
  <div class="container-fluid">
    <table class="table">
    <thead>
      <tr>
        <th scope="col">Name </th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Position</th>
        <th scope="col">Join Date</th>
        <th scope="col">Quit Date</th>
        <th scope="col">Edit</th>
        <th scope="col">Quit?</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{employee.e_first_name}} {{employee.e_last_name}}</td>
        <td>{{employee.e_phone}}</td>
        <td>{{employee.e_email}}</td>
        <td>{{employee.job_title}}</td>
        <td>{{employee.join_date}}</td>
        <td>{{employee.quit_date}}</td>
        <td>
          <button class="btn btn-secondary" style="margin-right: 2px;" (click)="edit()">Edit</button>
        </td>
        <td>
            <button class="btn btn-warning" style="margin-right: 2px;" (click)="quit()">Quit</button>
          </td>
    </tr>
    </tbody>
  </table>
  </div>
