

<link rel="stylesheet" href="short-survey.component.css">
<form id="short-survey">
    <!-- -----------------Tittle ---------->
    <br><h1 id="tittle">Customer Satisfaction Survey</h1>
    <p>Your responses will helps us provide the best service possible</p><br>

    <!-- ----------------General Questions-->
    <div>
        <fieldset>
            <legend>General</legend> <br>
            <div>
                <label>Where did you hear about us?</label>
                <div>
                    <select>
                        <option disabled selected hidden value=""> Please select one</option>
                        <option value="Facebook">Facebook</option>
                        <option value="Google Review">Google Review</option>
                        <option value="Yelp">Yelp</option>
                        <option value="Friends">Friends Recommendation</option>
                        <option value="Food Review Site">Food Review Site</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div> <br>
    
            <div>
                <label>How often do you dine with us?</label>
                <div>
                    <select>
                        <option disabled selected hidden value=""> Please select one</option>
                        <option value="Daily">Daily</option>
                        <option value="Several times per week">Several times per week</option>
                        <option value="Once per week">Once per week</option>
                        <option value="Several times per month">Several times per month</option>
                        <option value="Once per month">Once per month</option>
                    </select>
                </div>
            </div> <br>
    
            <div>
                <label>What age group do you belong to?</label>
                <div>
                    <select>
                        <option disabled selected hidden value=""> Please select one</option>
                        <option value="12-20">12-20</option>
                        <option value="21-30">21-30</option>
                        <option value="31-40">31-40</option>
                        <option value="41-64">41-64</option>
                        <option value="65 or above">65 or above</option>
                    </select>
                </div>
            </div>
    
        </fieldset>
    </div> <br> 

    <!-- ----------Service Questions--------->
    <div>
        <fieldset>
            <legend>Services</legend>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Strongly Satisfied</th>
                            <th>Satisfied</th>
                            <th>Neutral</th>
                            <th>Dissatisfied</th>
                            <th>Strongly Dissatisfied</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr style="position: center">
                            <td><b>Order Accuracy</b></td>
                            <td><input type="radio" name="order" value="Strongly Satisfied"></td>
                            <td><input type="radio" name="order" value="Satisfied"></td>
                            <td><input type="radio" name="order" value="Neutral"></td>
                            <td><input type="radio" name="order" value="Dissatisfied"></td>
                            <td><input type="radio" name="order" value="Strongly Dissatisfied"></td>
                
                        </tr>
        
                        <tr>
                            <td><b>Speed of Service</b></td>
                            <td><input type="radio" name="Speed" value="Strongly Satisfied"></td>
                            <td><input type="radio" name="Speed" value="Satisfied"></td>
                            <td><input type="radio" name="Speed" value="Neutral"></td>
                            <td><input type="radio" name="Speed" value="Dissatisfied"></td>
                            <td><input type="radio" name="Speed" value="Strongly Dissatisfied"></td>
        
                        </tr>
        
                        <tr>
                            <td><b>Service Quality</b></td>
                            <td><input type="radio" name="Quality" value="Strongly Satisfied"></td>
                            <td><input type="radio" name="Quality" value="Satisfied"></td>
                            <td><input type="radio" name="Quality" value="Neutral"></td>
                            <td><input type="radio" name="Quality" value="Dissatisfied"></td>
                            <td><input type="radio" name="Quality" value="Strongly Dissatisfied"></td>
                        </tr>
        
                        <tr>
                            <td><b>Staff Friendliness</b></td>
                            <td><input type="radio" name="Friendliness" value="Strongly Satisfied"></td>
                            <td><input type="radio" name="Friendliness" value="Satisfied"></td>
                            <td><input type="radio" name="Friendliness" value="Neutral"></td>
                            <td><input type="radio" name="Friendliness" value="Dissatisfied"></td>
                            <td><input type="radio" name="Friendliness" value="Strongly Dissatisfied"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div><br>

        <!-- -------------------Dish Questions------------------>
    <div>
        <fieldset>
            <legend>Dishes</legend>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Strongly Satisfied</th>
                            <th>Satisfied</th>
                            <th>Neutral</th>
                            <th>Dissatisfied</th>
                            <th>Strongly Dissatisfied</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><b>Food Quality</b></td>
                            <td><input type="radio" name="dish" value="Strongly Satisfied"></td>
                            <td><input type="radio" name="dish" value="Satisfied"></td>
                            <td><input type="radio" name="dish" value="Neutral"></td>
                            <td><input type="radio" name="dish" value="Dissatisfied"></td>
                            <td><input type="radio" name="dish" value="Strongly Dissatisfied"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div><br>

    <!-- -----------------Enviroment Questions-->
    <div>
        <fieldset>
            <legend>Enviroment</legend>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Strongly Satisfied</th>
                            <th>Satisfied</th>
                            <th>Neutral</th>
                            <th>Dissatisfied</th>
                            <th>Strongly Dissatisfied</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><b>Cleanliness</b></td>
                            <td><input type="radio" name="clean" value="Strongly Satisfied"></td>
                            <td><input type="radio" name="clean" value="Satisfied"></td>
                            <td><input type="radio" name="clean" value="Neutral"></td>
                            <td><input type="radio" name="clean" value="Dissatisfied"></td>
                            <td><input type="radio" name="clean" value="Strongly Dissatisfied"></td>
                        </tr>

                        <tr>
                            <td><b>Ambiance of resturant</b></td>
                            <td><input type="radio" name="ambiance" value="Strongly Satisfied"></td>
                            <td><input type="radio" name="ambiance" value="Satisfied"></td>
                            <td><input type="radio" name="ambiance" value="Neutral"></td>
                            <td><input type="radio" name="ambiance" value="Dissatisfied"></td>
                            <td><input type="radio" name="ambiance" value="Strongly Dissatisfied"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div><br>

    <!---- -------Overall Questions---------------------------->
    <div>
        <fieldset>
            <legend>Overall</legend>
            <div>
                <label>How likely would you visit it us again?</label><br><br>

                <input type="radio" id="visit1" name="visit" value="1">
                <label for="visit">1</label>

                <input type="radio" id="visit2"  name="visit"value="2">
                <label for="visit2">2</label> 

                <input type="radio" id="visit3" name="visit" value="3">
                <label for="visit3">3</label>

                <input type="radio" id="visit4" name="visit" value="4">
                <label for="visit4">4</label>

                <input type="radio" id="visit5" name="visit" value="5">
                <label for="visit5">5</label>

                <input type="radio" id="visit6" name="visit" value="6">
                <label for="visit6">6</label>

                <input type="radio" id="visit7" name="visit" value="7">
                <label for="visit7">7</label>

                <input type="radio" id="visit8" name="visit" value="8">
                <label for="visit8">8</label>

                <input type="radio" id="visit9" name="visit" value="9">
                <label for="visit9">9</label>

                <input type="radio" id="visit10" name="visit" value="10">
                <label for="visit10">10</label>               
            </div><br><br><br>

            <div>
                <label>Would you recommend us to your friends?</label><br><br>

                <input type="radio" id="recommend1" name="recommend" value="1">
                <label for="recommend">1</label>

                <input type="radio" id="recommend2"  name="recommend"value="2">
                <label for="recommend2">2</label> 

                <input type="radio" id="recommend3" name="recommend" value="3">
                <label for="recommend3">3</label>

                <input type="radio" id="recommend4" name="recommend" value="4">
                <label for="recommend4">4</label>

                <input type="radio" id="recommend5" name="recommend" value="5">
                <label for="recommend5">5</label>

                <input type="radio" id="recommend6" name="recommend" value="6">
                <label for="recommend6">6</label>

                <input type="radio" id="visit7" name="recommend" value="7">
                <label for="recommendt7">7</label>

                <input type="radio" id="recommend8" name="recommend" value="8">
                <label for="recommend8">8</label>

                <input type="radio" id="recommend9" name="recommend" value="9">
                <label for="recommend9">9</label>

                <input type="radio" id="recommend10" name="recommend" value="10">
                <label for="recommend10">10</label>
            </div><br><br><br>

            <div>
                <label>What is your favorite dish?</label><br><br>
                <textarea class="textarea" name="response" placeholder="Enter response..."></textarea>
            </div><br><br><br>

            <div>
                <label>Any area that you think needs improvement, if any?</label><br><br>
                <textarea class="textarea" name="response2" placeholder="Enter response..."></textarea>
            </div><br>
        </fieldset>
    </div> <br>

   
    <button class="button">Submit</button>


    

</form>


 