<div class="card">
    <div class="cardbody">
    <form [formGroup]="angForm" (ngSubmit)="submitSurvey(angForm)" autocomplete="off">
        <h4>Were you satisified with your experience today?</h4>
        <div class="row">
            <div class="col-md-6">Rating</div>
            <select class="form-control"
            (change)="changeRating($event)"
            name="ratings"
            formControlName="ratings">
                <option value="">--Rating--</option>
                <option *ngFor="let rating of ratingList" [value]="rating.rating_id">
                    {{ rating.r_category }}
                </option>
            </select>
        </div>
        <div class="col-md-6">Please leave us a short comment:</div>
        <div class="col-md-6"><input type="text" class="form-control" name="comment" formControlName="comment"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-between">
                <input type="submit" class="btn btn-warning" name="submit">
                <button class="btn btn-secondary" (click)="goBack()">Leave Survey</button>
                </div>
            </div>
        </div>
    </form>
    </div>
</div>