<table class="table">
    <thead>
      <tr>
        <th scope="col">Employee</th>
        <th scope="col">Check-in</th>
        <th scope="col">Check-out</th>
        <th scope="col">Date</th>
        <th scope="col">Leave</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empsched of empscheds">
        <td>{{empsched.e_first_name}} {{empsched.e_last_name}}</td>
        <td>{{empsched.eci_category}}</td>
        <td>{{empsched.eco_category}}</td>
        <td>{{empsched.log_datetime}}</td>
        <td>{{empsched.el_category}}</td>
    </tr>
    </tbody>
  </table>
