<!-- <form [formGroup]="angForm" (ngSubmit)="submitRatings(angForm)" autocomplete="off">
    <div>Were you satisifed with the staff service?</div>
    <div class="row">
        <div class="col-md-6">Rating</div>
        <select class="form-control"
        (change)="changeRating($event)"
        name="rating"
        formControlName="rating">
            <option value="">--Your Rating-</option>
            <option *ngFor="let rating of RatingsList" [value]="rating.rating_id">
                {{ rating.r_category }}
            </option>
        </select>
    </div>

    <div class="row">
        <div class="col-md-12"><input type="submit" class="btn btn-warning" name="submit"></div>
    </div>
</form> -->