<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">

<form id="empResponseForm" #empResponseForm="ngForm" (ngSubmit)="submitEmpResponse(empResponseForm)" name="empResponseForm" class="form form-comment" autocomplete="off">
  
  <div class="form-whole">
    <div class="form-item">
      <textarea [(ngModel)]="model.responses" style="width:100%" class="ng-valid" name="responses" #responses='ngModel' rows="5" cols="40" placeholder="Type comment here" minlength="4" maxlength="8000"></textarea>
      <div [hidden]="responses.valid">Comment body must be between 4 and 8000 characters</div>
    </div>
  
    <div class="form-item">
      <button type="submit" [disabled]="!empResponseForm.form.valid">Submit</button>
    </div>
  </div>
</form> -->
