<div class="container extra_container">
    <div class="row">
        <div class="md-col-12">Add Customer</div>
    </div>
    <form [formGroup]="angForm" (ngSubmit)="addCustomer(angForm)" autocomplete="off">

        <div class="row">
            <div class="col-md-6">First Name</div>
            <div class="col-md-6"><input type="text" class="form-control" name="first_name" formControlName="first_name"></div>
        </div>
        
        <div class="row">
            <div class="col-md-6">Last Name</div>
            <div class="col-md-6"><input type="text" class="form-control" name="last_name" formControlName="last_name"></div>
        </div>

        <div class="row">
            <div class="col-md-6">Phone Number</div>
            <div class="col-md-6"><input type="tel" class="form-control" name="phone" formControlName="phone"></div>
        </div>

        <div class="row">
            <div class="col-md-6">Email Address</div>
            <div class="col-md-6"><input type="email" class="form-control" name="email" formControlName="email"></div>
        </div>

        <div class="row">
            <div class="col-md-6">Zip Code</div>
            <div class="col-md-6"><input type="text" class="form-control" name="zip" formControlName="zip"></div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-between">
                <input type="submit" class="btn btn-warning" name="submit">
                <button class="btn btn-secondary" (click)="goBack()">Back</button>
            </div>
            </div>
        </div>

    </form>
</div>