<!-- <div class="card">
    <div class="card-body">
        <form [formGroup]="angForm" autocomplete="off">
            <div class="row">
                <div class="col-md-6">Enter the ID of your Server for Today: </div>
                <div class="col-md-6"><input type="text" class="form-control" name="emp_id" formControlName="emp_id"></div>
            </div>

            <h2>Service Questions</h2>
            <div class="card">
                 <div class="card-body">
                    <div>Were you satisfied with the order Accuracy?</div>
                    <div class="row">
                        <div class="col-md-6">Rating</div>
                        <select class="form-control"
                        (change)="changeRating($event)"
                        name="rating"
                        formControlName="rating">
                            <option value="">--Your Rating-</option>
                            <option *ngFor="let rating of RatingsList" [value]="rating.rating_id">
                                {{ rating.r_category }}
                            </option>
                        </select>
                    </div>
                <div class="row">
            <div class="col-md-12"><input type="submit" class="btn btn-warning" name="submit"></div>

        <form [formGroup]="angForm" autocomplete="off">
        <div>Were you satisified with the speed of service?</div>
        <div class="row">
            <div class="col-md-6">Rating</div>
            <select class="form-control"
            (change)="changeRating($event)"
            name="rating"
            formControlName="rating">
                <option value="">--Your Rating-</option>
                <option *ngFor="let rating of RatingsList" [value]="rating.rating_id">
                    {{ rating.r_category }}
                </option>
            </select>
        </div>

        <div class="row">
            <div class="col-md-12"><input type="submit" class="btn btn-warning" name="submit"></div>
        </div>
    </div>
    </form>

    <form [formGroup]="angForm" autocomplete="off">
        <div>Were you satisified with the service quality?</div>
        <div class="row">
            <div class="col-md-6">Rating</div>
            <select class="form-control"
            (change)="changeRating($event)"
            name="rating"
            formControlName="rating">
                <option value="">--Your Rating-</option>
                <option *ngFor="let rating of RatingsList" [value]="rating.rating_id">
                    {{ rating.r_category }}
                </option>
            </select>
        </div>

        <div class="row">
            <div class="col-md-12"><input type="submit" class="btn btn-warning" name="submit"></div>
        </div>
    </div>

    <form [formGroup]="angForm" autocomplete="off">
        <div>Were you satisifed with the staff service</div>
        <div class="row">
            <div class="col-md-6">Rating</div>
            <select class="form-control"
            (change)="changeRating($event)"
            name="rating"
            formControlName="rating">
                <option value="">--Your Rating-</option>
                <option *ngFor="let rating of RatingsList" [value]="rating.rating_id">
                    {{ rating.r_category }}
                </option>
            </select>
        </div>

        <div class="row">
            <div class="col-md-12"><input type="submit" class="btn btn-warning" name="submit"></div>
        </div>

    </div>
    </form>
<button class="col-md-12" class="btn btn-warning" (click)="finalSubmit()">Next</button><input type="submit" class="btn btn-warning" name="submit"></div>
</div>
</div> -->

<p>FIXING UP</p>